<script>
    function openList1() {
        let list = document.getElementById("list1");

        if (list.style.display == "none") {
            list.style.display = "block";
        } else {
            list.style.display = "none";
        }
    }
    function display(x) {
        document.getElementById('paypal').style.display = x;
        if (x == 'none') {
            document.getElementById('placeOrder').style.display = '';
        } else if (x == 'yes') {
            document.getElementById('placeOrder').style.display = '';
        }
        else {
            document.getElementById('placeOrder').style.display = '';
        }
    }
</script>
<div class="page-wrapper">
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Checkout</h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->

        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> <a href="/cart">My Cart</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> <a href="/checkout">Checkout</a></li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content mt-2">
            <div class="checkout">
                <div class="container">
                    <form action="#" id="checkout-formm">
                        <div class="row">

                            <% if (oneAddress) { %>

                                <div class="col-lg-9">
                                    <h2 class="checkout-title">Billing Details</h2>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>First Name *</label>
                                            <input type="text" name="name" value="<%=name  %> " class="form-control"
                                                required>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End row-->

                                    <label>Street address *<span class="font-weight-light"> (Note : The address entered
                                            will
                                            be saved for future use) </span> </label>
                                    <input type="text" name="address" class="form-control"
                                        placeholder="House number and Street name"
                                        value="<%=oneAddress?.address[0]?.streetAddress%>" required>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>State *</label>
                                            <select class="form-control" name="state">
                                                <option hidden disabled selected
                                                    value="<%=oneAddress?.address[0]?.streetAddress%>"> Select--
                                                    <%=oneAddress?.address[0]?.state%>
                                                </option>
                                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                <option value="Karnataka">Karnataka</option>
                                                <option value="Kerala">Kerala</option>
                                                <option value="Tamil Nadu">Tamil Nadu</option>
                                                <option value="Telangana">Telangana</option>
                                            </select>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>County *</label>
                                            <input type="text" name="country" class="form-control" value="India"
                                                readonly required>
                                        </div>
                                    </div><!-- End row -->

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Pincode *</label>
                                            <input type="tel" name="pincode" class="form-control"
                                                value="<%=oneAddress?.address[0]?.pincode%>" required>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Phone *</label>
                                            <input type="tel" name="mobile" class="form-control" value="<%=mobile %> "
                                                required>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label>Email address *</label>
                                    <input type="email" name="email" class="form-control" value="<%=email %> " required>
                                    <input type="text" name="userId" value="<%=user%>" hidden>
                                    <input type="text" name="approval" value="true" hidden>
                                    <input type="tel" name="couponDiscount" value="tony()" hidden>

                                    <div class="row">
                                        <p onclick="openList1()">Click to choose address</p>
                                        <div class="col-lg-9">
                                            <ol id="list1" style="display: none;">
                                                <% if (address) { for (let i=0; i < address?.address?.length; i++) { %>
                                                    <li>
                                                        <a href="/checkout?id=<%=address?.address[i]?._id%>">
                                                            <span>
                                                                <%=i+1%>.
                                                            </span>
                                                            <%=address?.address[i]?.streetAddress%>,
                                                                <%=address?.address[i]?.state%>,
                                                                    <%=address?.address[i]?.country%>,
                                                                        <%=address?.address[i]?.pincode%>,
                                                        </a>
                                                    </li>

                                                    <%} }else{ %>
                                                        <li>
                                                            <p>No address to display. You can add new address in<a
                                                                    href="/account">acount</a>. Or we will save the
                                                                address once you place the order</p>
                                                        </li>
                                                        <% }%> %>
                                            </ol>
                                        </div>
                                    </div>


                                </div><!-- End .col-lg-9 -->
                                <%} %>
                                    <aside class="col-lg-3">
                                        <div class="summary">
                                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                            <table class="table table-summary">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr class="summary-subtotal">
                                                        <td>Subtotal:</td>
                                                        <td>₹<%=total %>
                                                        </td>
                                                    </tr><!-- End .summary-subtotal -->

                                                    <tr>
                                                        <td>
                                                            <div class="checkout-discount">
                                                                <form action="#">
                                                                    <div class="cart-discount">
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control "
                                                                                autocomplete="off" id="code"
                                                                                placeholder="coupon code">
                                                                            <div class="input-group-append">
                                                                                <button
                                                                                    class="btn btn-sm btn-outline-primary"
                                                                                    style="width:3em; height: 3em;"
                                                                                    type="button"
                                                                                    onclick="couponValidator(this,'<%=total%>')"><i
                                                                                        class="icon-long-arrow-right"></i></button>
                                                                            </div><!-- .End .input-group-append -->
                                                                        </div><!-- End .input-group -->
                                                                    </div><!-- End .cart-discount -->
                                                                </form>
                                                                <p id="couponErr"></p>
                                                            </div><!-- End .checkout-discount -->
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>Shipping:</td>
                                                        <td>Free shipping</td>
                                                    </tr>
                                                    <tr class="summary-total">
                                                        <td>Total:</td>
                                                        <td id="couponTotal">₹ <%=total %>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="accordion-summary" id="accordion-payment">
                                                <div class="card">
                                                    <div class="card-header" id="heading-3">
                                                        <h2 class="card-title">
                                                            <label class="radio-inline">

                                                                <input type="radio" name="paymentMethod" value="COD"
                                                                    required onclick="display('none')">COD
                                                            </label>
                                                        </h2>
                                                    </div>
                                                </div><!-- End card-->

                                                <div class="card">
                                                    <div class="card-header" id="heading-4">
                                                        <h2 class="card-title">
                                                            <label class="radio-inline mt-2">
                                                                <input type="radio" name="paymentMethod" value="PayPal"
                                                                    onclick="display('')"> PayPal
                                                            </label>
                                                            <div id="paypal" style="display: none;"></div>
                                                        </h2>
                                                    </div>
                                                </div><!-- End card-->

                                                <!-- RAzorpay -->
                                                <div class="card">
                                                    <div class="card-header" id="heading-5">
                                                        <h2 class="card-title">
                                                            <label class="radio-inline mt-2">
                                                                <input type="radio" name="paymentMethod"
                                                                    value="razorpay"
                                                                    onclick="display('yes'), paypalPayment"> razorpay
                                                            </label>
                                                            <div id="razorpay" style="display: none;"></div>
                                                        </h2>
                                                    </div>
                                                </div><!--end RAzor pay card  -->

                                                <!-- <div class="card">
                                                <div class="card-header" id="heading-5">
                                                    <h2 class="card-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                            href="#collapse-5" aria-expanded="false"
                                                            aria-controls="collapse-5">
                                                            Credit Card (Stripe)
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div id="collapse-5" class="collapse" aria-labelledby="heading-5"
                                                data-parent="#accordion-payment">
                                                <div class="card-body"> Donec nec justo eget felis facilisis
                                                    fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                    Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
                                                </div>
                                            </div> -->

                                                <br>
                                                <img src="assets/images/payments-summary.png" alt="payments cards">
                                            </div><!-- End .accordion -->

                                        </div><!-- End summary -->

                                        <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block"
                                            id="placeOrder" style="display: none;">
                                            Place Order
                                            <!-- <span class="btn-hover-text">Proceed to Checkout</span> -->
                                        </button>
                                    </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </form>
                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
</div><!-- End .page-wrapper -->

<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->


<script>
    $("#checkout-formm").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/checkout',
            method: 'post',
            data: $('#checkout-formm').serialize(),//serialize is used to get every data in the form
            success: (response) => {
                if (response.status) {
                    window.location.replace('/success')
                } else if (response?.paypal == true) {
                    // alert('Order successfully placed')
                    paypalPayment(response?.total)
                } else {
                    razorPay(response)
                }
            }
        })
    })

    function couponValidator(newCode, total) {
        code = document.getElementById("code").value.trim()
        $.ajax({
            url: '/coupon-validator?code=' + code,
            method: 'get',
            success: (response) => {
                if (response?.status === true) {
                    couponErr.style.color = '#19ff11'
                    couponErr.innerText = 'Coupon Applied Succesfully'
                    console.log(`₹ ${total - response?.discount}`, "tototoot");

                    couponTotal.innerText = `₹ ${total - response?.discountAmount}`
                } else {
                    console.log('failed', response?.reason);
                    couponErr.style.color = '#ff0707'
                    couponErr.innerText = response?.reason
                }
            }
        })
    }
    $("#couponForm").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/couponCheck',
            method: 'post',
            data: $('#couponForm').serialize(),//serialize is used to get every data in the form
            success: (response) => {
                if (response) {
                    alert('success coupon code')
                    location.reload('/checkout')
                } else {
                    alert('invalid coupon code')
                }
            }
        })
    })
    function paypalPayment(total) {
        paypal.Buttons({
            // Order is created on the server and the order id is returned
            createOrder: () => {
                console.log('in paypalPayment in checkout');
                return fetch("/createOrder", {
                    method: "POST",
                    // use the "body" param to optionally pass additional order information
                    // like product ids or amount
                    headers: {
                        "Content-Type": 'application/json'
                    },
                    body: JSON.stringify({
                        total: total,
                        items: [{
                            id: 1,
                        }]
                    }),
                }).then(res => {
                    if (res.ok) return res.json()
                    return res.json().then(json => Promise.reject(json))
                }).then(({ id }) => { return id })
                    .catch(e => {
                        console.log(e.error);
                    })
            },
            // Finalize the transaction on the server after payer approval
            onApprove: (data, actions) => {
                return actions.order.capture().then(() => {
                    console.log("data in Paypal onApprove + checkout.ejs ", data);
                    $.ajax({
                        url: '/paypal-success',
                        method: 'post',
                        success: (response) => {
                            if (response?.status) {
                                window.location.replace('/success')
                            } else {
                                alert('Something went wrong')
                            }
                        }
                    })
                    // window.location.replace('/success');
                })
            }
        }).render('#paypal');
    }

    function changeAddress(addressId) {
        $.ajax({
            url: '/checkout?id=addressId',
            method: 'get',
            success: (response) => {
                if (response?.status === true) {
                    window.location.reload()
                } else {
                    alert('something went wrong')
                    window.location.reload()
                }
            }
        })
    }
</script>